.calcBody {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 60vh;
    height: 75vh;
    border-radius: 10px;
    border: 2px solid darkgray;
    margin: auto;
}

.window {
    background-color: white;
    width: 90%;
    height: 15%;
    margin: auto;
    margin-top: 4%;
    border-radius: 10px;
    border: 2px solid darkgray;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

}

.expression {
    margin-right: 15px;
}

.display {
    margin-right: 15px;
    font-size: 30px;
}
.buttonField {
    flex: 1;
    flex-direction: column;
    display: flex;
    
    padding: 5% 0 5% 5%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: 1;
    margin-right: 3%;
    border-radius: 10px;
    border: 2px solid gray;
}

.row {
    display: flex;
    flex: 1;
    margin-bottom: 3%;
}
.row.bottom  {
    margin-bottom: 0;
}